[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"

[dev-packages]
ipykernel = "*"
ruff = "*"
mypy = "*"
pre-commit = "*"
black = "*"
isort = "*"
debugpy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
